{% extends "/hualala/pages/base.html" %}
{% block content %}
<style type="text/css">
.mt-10{margin-top:25px;}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
</style>
<div class="container-fluid">
    <div class="row mt-10">
        <div class="col-lg-12">
            <h3 class="page-header">列表管理</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-10">
        <div class="col-lg-3">
            <form class="form-inline" role="form" action="/uplate_jiekou_list"  method="post">
            <div class="input-group">
                <span class="input-group-addon  span-info" >输入目录</span>
                <input type="text"  name="mulu"     class="form-control" placeholder="Search for..." id="mulu_url" value={{gen_mulu}}>
                <span class="input-group-btn">
                     <button class="btn btn-success" id="submit_url" type="submit" >Go!</button>
                </span>
            </div>
                </form>
        </div>
        <div class="col-lg-4">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success"  id="pilaing_yunxing"  >批量运行 </button>
               <button type="button" class="btn btn-info"  id="zaixiantiaoshi"  >在线调试 </button>
            </div>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">文件列表</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-toolbar" role="toolbar" aria-label="...">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <div class="btn-group" id="format">
                                            {% for i in yewu_name %}
                                            <button type="button" class="btn btn-default"  name={{i}} id={{i}}+"checkbox" >{{i}} </button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                     <div class="btn-group" id="huanjing">
                                        <div id="huanjing1">
                                            <button   style="min-width: 160px;" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <a id="check_0"  name={{gen_mulu}}>{{select_huanjing}}</a><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" name="huanjing_list">{{select_huanjing}}</a></li>
                                                {% for i in huanjing %}
                                                <li><a href="#" name="huanjing_list">{{i}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-group" id="select">
                                        <div id="selectmenu">
                                            <button   style="min-width: 160px;" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <a id="check_1">all</a><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" name="huanjing_list">all</a></li>
                                                {% for i in yewu_name %}
                                                <li><a href="#" name="huanjing_list">{{i}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-group" id="selecttwo">
                                        <button  style="min-width: 160px;" type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <a id="check_2">all</a><span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li name="all_two"  class="all_two"><a href="#" name="jiekoulist">all</a></li>
                                            {% for i in yewu_name %}
                                            {% for z in yewu_name[i] %}
                                            <li name={{i}}  class={{i+'#'+z}}><a href="#" name="jiekoulist">{{z}}</a></li>
                                            {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div  id="table">
                                    <table id="table4"  class="table table-hover table-striped">
                                        <thead>
                                        <th align="left"  width="20%"><input type="checkbox" name="allcheck"  id="allcheck">
                                            <label >全选</label></th>
                                        <th align="left"  width="25%">业务名</th>
                                        <th align="left"  width="25%">接口名</th>
                                        <th align="center" width="15%">run</th>
                                        <th align="center" width="15%">Edit</th>
                                        <th align="center" width="15%">Delete</th>
                                        </thead>
                                        {% for i in yewu_name %}
                                        {% for x in yewu_name[i] %}
                                        <tr  name={{i}} class={{x}}  id="select_two">
                                            <td align="left"><input type="checkbox" name="childcheck"  class={{i+"#"+x}}></td>
                                            <td align="left">{{i}}</td>
                                            <td align="left">{{x}}</td>
                                            <td align="center" name={{x}}>
                                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true" class={{i+"#"+x}} name="simple_run" ></span>    </button></td>
                                            <td align="center"  name={{x}}><img src="/static/table402/images/page_white_edit.png" border="0"></td>
                                            <td align="center"  name={{x}}><img src="/static/table402/images/publish_r.png" border="0"></td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="file_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            <form action="/upload_file" method="post" enctype="multipart/form-data">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					模态框（Modal）标题
				</h4>
			</div>
			<div class="modal-body">
                 <div class="container-fluid  ">
                        <div class="row mt-10">
                            <div class="col-lg-12">
                                <div class="form-group" id="file_container">
                                         <input type="file" name="files" multiple>
                                </div>
                            </div>
                        </div>
                       <div class="row mt-10">
                            <div class="col-lg-12">
				               <div class="input-group">
                                       <span class="input-group-addon" id="basic-addon1">脚本备注</span>
                                       <input type="text" class="form-control" placeholder="Username" id="file_detail"  aria-describedby="basic-addon1">
                               </div>
                            </div>
                        </div>
                 </div>
			</div>
			<div class="modal-footer">
				<button type="button " class="btn btn-default" data-dismiss="modal">
					关闭
				</button>
				<button type="button submit " class="btn btn-primary" id="submit">
					提交
				</button>
			</div>
   </form>
		</div>
	</div>
</div>
   <script src="static/hualala/vendor/jquery/jquery.min.js"></script>
    <script src="static/hualala/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/hualala/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="static/hualala/dist/js/sb-admin-2.js"></script>
<script src="{{url_for('static', filename='layer-v3.0/layer/layer.js')}}">
<script src="{{url_for('static', filename='jquery-1.8.0.js')}}"></script>
<script src="static/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script type=text/javascript>
    var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    //提交要遍历的url

    //跳转到在线调试
    $('#zaixiantiaoshi').click(function()
    {
    window.location.href=$SCRIPT_ROOT+'/shishitiaoshi'

    }

    )
 $('button[name][id]').click(function()
                            {
if ($(this).attr('class')=='btn btn-default')
{
$(this).attr('class','btn btn-default btn-success')
}
else
{
$(this).attr('class','btn btn-default')
}
}
)
//下拉列表选择
$('.dropdown-menu>li').click(function()
                             {
$(this).parent().parent().find('a').eq(0).html($(this).find('a').html())
}
)
//checkbox全选
$('#allcheck').click(function()
                     {
if ($('#allcheck').is(':checked'))
{
$('input[name="childcheck"]').each(function()
{
if (!$(this).is(':hidden'))
{
$(this).attr('checked',true)
}
}
)
}
else
{
$('input[name="childcheck"]').attr('checked',false)
}
}
)
//选个单个
$('#format').find('button').click(function(){
var a=1
$('#table4').find('tr:gt(1)').each(function()
{
var name=$(this).find('td').eq(1).text()
if($('button[name="'+name+'"'+"]").attr('class')=='btn btn-default btn-success')
{
a=2
$(this).show()
}
else
{
$(this).hide()
}
}
)
if (a==1)
{
$('#table4').find('tr').show()
}
})
//监听第一个搜索框内容发生改变
$("#check_1").bind("DOMNodeInserted",function(e){
var name= $(this).html()
$('#table4').find('tr:gt(0)').hide()
$('#table4').find('tr[name="'+name+'"]').show()
//后面的搜索框根据前面的选择显示
$('#selecttwo').find('li').hide()
$('#selecttwo').find('li').each(function()
{
if ($(this).attr('name')==name)
{
$(this).show()
}
}
)
})
//监听第二个搜索框内容发生改变
$("#selecttwo").bind("DOMNodeInserted",function(e){
name=$(this).find('a').html()
$('#table4').find('tr:gt(0)').hide()
$('#table4').find('tr[class="'+name+'"]').show()
})

//获取所有checke的接口信息
$('#pilaing_yunxing').click(function()
{
      $("this").attr("disabled", true);
      $('#pilaing_yunxing').html('运行中')
      layer.msg('开始运行');
        var all_mulu=[]
        $('input[name="childcheck"]').each(function()
            {
               if ($(this).is(':checked'))
               {
                  all_mulu.push($(this).attr('class'))
               }
            }
        )
    var all_mulu=JSON.stringify({'all_mulu':all_mulu})
    var  huanjing=$('#check_0').html()
    var gen_mulu=$('#mulu_url').attr('value')
$.post($SCRIPT_ROOT + '/piliang_run', {all_jiekou_re:all_mulu,huanjing:huanjing,gen_mulu:gen_mulu},
                function (data) {

                }
            )
        }
)
//单个接口跑
$('button[aria-label="Left Align"]').click(function()
{


        var all_mulu=[]
       all_mulu.push($(this).parent().parent().find('td>input').attr('class'))
    var all_mulu=JSON.stringify({'all_mulu':all_mulu})
    var  huanjing=$('#check_0').html()
    var gen_mulu=$('#mulu_url').attr('value')
$.post($SCRIPT_ROOT + '/piliang_run', {all_jiekou_re:all_mulu,huanjing:huanjing,gen_mulu:gen_mulu},
                function (data) {

                }
            )



}
)


</script>
{% endblock %}