{% extends "/hualala/pages/base.html" %}
{% block content %}
<style type="text/css">
.mt-10{margin-top:25px;}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
</style>
<div class="container-fluid">
    <div class="row mt-10">
        <div class="col-lg-3">
            <h3 class="page-header">显示</h3>
            <div class="input-group">
                <span class="input-group-addon  span-info" >输入目录</span>
                <input type="text" class="form-control" placeholder="Search for..." id="mulu_url">
                <span class="input-group-btn">
                     <button class="btn btn-success" id="submit_url" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"  id="jiekou_name">接口名:{{ jiekou_name }}</h3>
                </div>
                <div class="panel-body">
                    <h3><strong id="case_name">用例名:{{ case_name }}</strong></h3>
      <pre  id="shuru" style = "border:none; background:none;height:200px;"  class="pre-scrollable”">
{{ shuru }}
      </pre>
                </div>
            </div>
        </div>
                <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">接口输出</h3>
                </div>
                <div class="panel-body">
                    <h3><strong id="duanyan">断言:{{ result_statu }}</strong></h3>
                </div>
                      <pre  id="shuchu" style = "border:none;background:none;height:200px;"  class="pre-scrollable”">
{{ shuchu }}
      </pre>
            </div>
        </div>
    </div>
</div>

   <script src="static/hualala/vendor/jquery/jquery.min.js"></script>
    <script src="static/hualala/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/hualala/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="static/hualala/dist/js/sb-admin-2.js"></script>
<script src="{{url_for('static', filename='layer-v3.0/layer/layer.js')}}">
<script src="{{url_for('static', filename='jquery-1.8.0.js')}}"></script>
<script src="static/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="static\socket.io\socket.io.min.js"></script>
    <script type=text/javascript>
    //websocket 操作 ，
    /*
    var socket = io.connect('http://127.0.0.1:5000/testnamespace');
    socket.on('response',function(data){
           if (data.re!='no change')
            {

            }
            else
            {

            }



    });
  $(document).ready(function()
  {
  socket.emit('request_for_response', {data: 'request'})
  }
  )
  */
    //模态框打开后执行清空操作
    var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
    $('#file_up').on('hidden.bs.modal', function (e) {
$('#file_detail').val('')
var file = $('input[type="file"]')
file.after(file.clone().val(""));
file.remove();
})
//执行提交file操作
$('#submit').click(function()
{
     var beizhu=$('#file_detail').val()
     $.get($SCRIPT_ROOT + '/upload_fil_beizu', {beizu: beizhu},
                        function (data) {
                        }

                    )
}
)
//执行提交目录的操作
$('#submit_url').click(function()
{
mulu=$('#mulu_url').val()


     $.get($SCRIPT_ROOT + '/jiekou_mulu', {mulu: mulu,statu:"调试"},
                        function (data) {
                        }

                    )


}
)

  //轮询获取实时接口信息
  setInterval("timeorder()",500);
  function  timeorder(){


     $.post($SCRIPT_ROOT + '/shishitiaoshi', {statu:"调试"},
                        function (data) {

                          $('#shuru').html(data.shuru)
                          $('#shuchu').html(data.shuchu)
                          $('#duanyan').html("断言:"+data.result_statu)
                          $('#jiekou_name').html("接口名:"+data.jiekou_name)
                          $('#case_name').html("用例名:"+data.case_name)


                        }
                    )



  }
</script>
{% endblock %}